@import "../mixins";

.categories {
    display: flex;
    width: 100%;
    padding: 0 var(--padding-layout);
    align-items: center;
    position: sticky;
    top: 0;
    overflow: auto hidden;
    background-color: var(--color-white);
    z-index: 1;
    @include scrollHor(transparent, transparent, 0px);

    .category {
        &-item {
            white-space: nowrap;
            height: 38px;
            display: flex;
            align-items: center;
            padding: 0 calc(var(--padding-layout) / 2);
            border-bottom: 2px solid transparent;
            font-weight: 400;
            font-size: var(--parag-s);
            cursor: pointer;
            opacity: .4;
            transition: all .2s;
            
            &-active{
                opacity: 1;
                border-bottom-color: var(--color-primary);
            }
        }
    }
}
